@import url('https://fonts.googleapis.com/css?family=Audiowide|Montserrat:300|Sedgwick+Ave|Material+Icons');

[icon] {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  ///* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  ///* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  ///* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  ///* Support for IE. */
  font-feature-settings: 'liga';
}

$sedgwick: 'Sedgwick Ave', cursive;
$montserrat: 'Montserrat', sans-serif;
$audiowide: 'Audiowide', cursive;

p, span, center, div, input, textarea, article, select, section, figcaption, caption, button, a, ul, ol, li,
label, select, main, header, footer {
  font-family: $montserrat;
}

h1, h3, h4, h6, [h1], [h3], [h4], [h6] {
  font-family: $sedgwick;
  letter-spacing: 1.4px;
}

h2, h5, [h2], [h5] {
  font-family: $audiowide;
}

[text-left] {
  text-align: left;
}

[text-right] {
  text-align: right;
}

[text-center] {
  text-align: center;
}
