//
//  Table of contents
//
//  - Props names
//  - Grid
//  - Helpers
//  - Helpers
//  - Helpers
//  - Helpers
//  - Helpers
//  - Helpers
//

// ==================================================
// Props names
// ==================================================
$hidden-prop-name: 'h-' !default;

$grid-prop-name: 'grid' !default;
$boxed-prop-name: 'b-' !default;
$width-prop-name: 'w-' !default;
$offset-prop-name: 'off-' !default;

$justify-prop-name: 'j-' !default;
$align-self-prop-name: 'as-' !default;
$align-items-prop-name: 'ai-' !default;
$align-content-prop-name: 'ac-' !default;
$place-content-prop-name: 'pc-' !default;
$order-prop-name: 'order-' !default;

$start-prop-name: 'start' !default;
$end-prop-name: 'end' !default;
$center-prop-name: 'center' !default;
$baseline-prop-name: 'baseline' !default;
$stretch-prop-name: 'stretch' !default;


$grid-bp-xs-prop-name: 'xs-' !default;
$grid-bp-sm-prop-name: 'sm-' !default;
$grid-bp-md-prop-name: 'md-' !default;
$grid-bp-lg-prop-name: 'lg-' !default;
$grid-bp-xl-prop-name: 'xl-' !default;

$reverse-prop-name: 'reverse' !default;
$flex-item-prop-name: 'flex-item' !default;
$grow-prop-name: 'g' !default;

$up-prop-name: 'up' !default;
$down-prop-name: 'down' !default;

$padding-prop-name: 'p' !default;
$margin-prop-name: 'm' !default;
$border-prop-name: 'b' !default;

$side-top-prop-name: 't-' !default;
$side-right-prop-name: 'r-' !default;
$side-bottom-prop-name: 'b-' !default;
$side-left-prop-name: 'l-' !default;

$button-prop-name: 'button' !default;
$input-prop-name: 'input' !default;
$checkbox-prop-name: 'chk' !default;
$radio-prop-name: 'rad' !default;
$file-prop-name: 'file' !default;
$alert-prop-name: 'alert' !default;
$modal-prop-name: 'modal' !default;
$tabs-prop-name: 'tabs' !default;


// ==================================================
// Default Sizes
// ==================================================
$radius: 3rem;
$default-border-size: 1;

// ==================================================
// Colors Default
// ==================================================
$success: color('green', 'base');
$danger: color('red', 'base');
$warning: color('orange', 'base');
$alert: color('yellow', 'base');
$primary: color('blue', 'base');
$primary-background: linear-gradient(175deg, $primary, darken($primary, 20%));
$secundary: color('orange', 'base');
$secundary-background: linear-gradient(175deg, $secundary, darken($secundary, 20%));
$disabled: color('grey', 'lighten-1');
[success] {
  background: $success;
  color: darken($success, 35%);
}

[danger] {
  background: $danger;
  color: darken($danger, 35%);
}

[warning] {
  background: $warning;
  color: darken($warning, 35%);
}

[alert] {
  background: $alert;
  color: darken($alert, 35%);
}

[primary] {
  background: $primary;
  color: darken($primary, 35%);
}

[secundary] {
  background: $secundary;
  color: darken($secundary, 35%);
}

[disabled] {
  background: $disabled;
  color: darken($disabled, 35%);
}


// ==================================================
// Grid
// ==================================================
$grid-column-count: 12 !default;
$grid-column-gap: 30 !default;
$grid-column-padding: 20 !default;

$grid-bp-sm: 600 !default;
$grid-bp-md: 800 !default;
$grid-bp-lg: 1190 !default;
$grid-bp-xl: 1440 !default;

$map-grid-bp: (
        '': 0,
        $grid-bp-sm-prop-name: $grid-bp-sm,
        $grid-bp-md-prop-name: $grid-bp-md,
        $grid-bp-lg-prop-name: $grid-bp-lg,
        $grid-bp-xl-prop-name: $grid-bp-xl
);

$boxed-limit: 1440 !default;
$boxed-size: 240 !default;
$boxed-step: 4 !default;

$map-grid-types-values: (
        $start-prop-name:'flex-start',
        $end-prop-name:'flex-end',
        $center-prop-name:'center',
        $baseline-prop-name:'baseline',
        $stretch-prop-name:'stretch',
);


// ==================================================
// Helpers
// ==================================================
$helper-step: 5 !default;
$helper-amount: 5 !default;

$map-props: (
        #{$padding-prop-name}: 'padding',
        #{$margin-prop-name}: 'margin',
        #{$border-prop-name}: 'border',
);

$map-props-sides: (
        #{$side-top-prop-name}: 'top',
        #{$side-right-prop-name}: 'right',
        #{$side-bottom-prop-name}: 'bottom',
        #{$side-left-prop-name}: 'left'
);

