<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>Gangster.CSS Docs</title>
    <link rel="stylesheet" href="../../dist/css/gangster.css">
    <script src="../js/index.js" defer></script>
</head>
<body>
<header grid row ai-center>
    <nav w-4>
        <ul pl-4>
            <li><a href="#!" button><span>Notícias</span></a></li>
            <li><a href="#!" button><span>Gameplays</span></a></li>
            <li><a href="#!" button><span>Análises</span></a></li>
            <li><a href="#!" button><span>Podcasts</span></a></li>
        </ul>
    </nav>
    <div w-4 row>
        <a href="" rel="home">
            <img src="../img/mg.svg" alt="Logo">
        </a>
        <h1 hide>Married Games</h1>
    </div>
    <nav w-4 pc-end>
        <a href="#!" p3>
            <i icon>person</i>
        </a>
    </nav>
</header>
<main grid>
    <aside w-2 order-1>
        <nav>
            <ul>
                <li><a href="index.html" button><span>Início</span></a></li>
                <li><a href="buttons.html" button><span>Buttons</span></a></li>
                <li><a href="forms.html" button><span>Forms</span></a></li>
                <li><a href="tabs.html" button><span>Tabs</span></a></li>
                <li><a href="cards.html" button><span>Cards</span></a></li>
                <li><a href="tabs.html" button><span>Tabs</span></a></li>
                <li><a href="tabs.html" button><span>Tabs</span></a></li>
                <li><a href="tabs.html" button><span>Tabs</span></a></li>
            </ul>
        </nav>
    </aside>
    <div w-10 grid pt-5>
        <a href="#!" button><span>Notícias</span></a>
        <br>
        <button><span>Notícias</span></button>
    </div>
</main>
</body>
</html>
