<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>Gangster.CSS Docs</title>
    <link rel="stylesheet" href="../../dist/css/gangster.css">
    <script src="../js/index.js" defer></script>
</head>
<body>
<header grid>
    <nav w-4>
        <ul>
            <li><a href="#!" button><span>Test Link</span></a></li>
            <li><a href="#!" button><span>Test Link</span></a></li>
            <li><a href="#!" button><span>Test Link</span></a></li>
            <li><a href="#!" button><span>Test Link</span></a></li>
        </ul>
    </nav>
    <h1 w-4>
        <img src="../img/gangster.css.svg" alt="">
    </h1>
    <nav w-4 text-right>
        <a href="#!">
            <i icon>person</i>
        </a>
    </nav>
</header>
<main grid>
    <aside w-2>
        <nav>
            <ul>
                <li><a href="#!" button><span>Link</span></a></li>
                <li><a href="#!" button><span>Link</span></a></li>
                <li><a href="#!" button><span>Link</span></a></li>
                <li><a href="#!" button><span>Link</span></a></li>
            </ul>
        </nav>
    </aside>
    <div w-10 p-1>
        <form action="">
            <div w-6>
                <div input>
                    <input type="text" id="text" required>
                    <label for="text">Nome</label>
                </div>
            </div>
            <div w-6>
                <div input>
                    <input type="email" id="text" required>
                    <label for="text">E-mail</label>
                </div>
            </div>
            <div>
                <div checkbox>
                    <input type="checkbox" id="checkbox-1">
                    <label for="checkbox-1">Campo de checkbox</label>
                </div>
                <div checkbox>
                    <input type="checkbox" id="checkbox-2">
                    <label for="checkbox-2">Campo de checkbox</label>
                </div>
            </div>
            <div>
                <div radio>
                    <input type="radio" id="radio-1" name="radio[]">
                    <label for="radio-1">Campo de radio</label>
                </div>
                <div radio>
                    <input type="radio" id="radio-2" name="radio[]">
                    <label for="radio-2">Campo de radio</label>
                </div>
            </div>

        </form>

        <div card horizontal>
            <img src="//placehold.it/500">
            <h5>titulo</h5>
            <p>lorem ipsum dolor at met</p>
        </div>
        <div card>
            <img src="//placehold.it/500">
            <h5>titulo</h5>
            <p>lorem ipsum dolor at met</p>
        </div>
    </div>
</main>
</body>
</html>
