<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>Gangster.CSS Docs</title>
    <link rel="stylesheet" href="../../dist/css/gangster.css">
    <meta charset="utf-8">
    <script src="../js/index.js" defer></script>
</head>
<body>
<header grid row ai-center>
    <nav w-4>
        <ul pl-4>
            <li><a href="#!" button><span>Notícias</span></a></li>
            <li><a href="#!" button><span>Gameplays</span></a></li>
            <li><a href="#!" button><span>Análises</span></a></li>
            <li><a href="#!" button><span>Podcasts</span></a></li>
        </ul>
    </nav>
    <div w-4 row>
        <a href rel="home">
            <img src="../img/mg.svg" alt="Logo">
        </a>
        <h1 hide>Married Games</h1>
    </div>
    <nav w-4 pc-end>
        <a href="#!" p3>
            <i icon>person</i>
        </a>
    </nav>
    \
</header>
<main grid>
    <div w-10 grid pt-5 content-between>
        <div w-3>
            <figure overlay>
                <a href="cards.html" title="{{title}}">
                    <img src="//lorempixel.com/350/386" alt="{{title}}" title="{{title}}">
                </a>
                <figcaption>
                    <h2 truncate>
                        <a href="cards.html" title="{{title}}">{{title}}</a>
                    </h2>
                    <h3>
                        <a href="cards.html" title="{{category}}">{{category}}</a>
                    </h3>
                    <p hide>{{excerpt}}</p>
                    <p>
                        <small>{{publish_at}} | <a href="cards.html" title="{{author}}">{{author}}</a></small>
                    </p>
                </figcaption>
            </figure>
        </div>
        <div w-9>
            <figure horizontal>
                <a href="cards.html" title="{{title}}">
                    <img src="//lorempixel.com/260/120" alt="{{title}}">
                </a>
                <figcaption>
                    <h2 truncate>
                        <a href="cards.html" title="{{title}}">{{title}}</a>
                    </h2>
                    <h3>
                        <a href="cards.html" title="{{category}}">{{category}}</a></h3>
                    <p>
                        {{excerpt}}
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit... Lorem ipsum dolor sit amet,
                        consectetur adipiscing elit... Lorem ipsum dolor sit amet, consectetur adipiscing elit...
                    </p>
                    <p>
                        <small>{{publish_at}} | <a href="cards.html" title="{{author}}">{{author}}</a></small>
                    </p>
                </figcaption>
            </figure>
        </div>
    </div>
    <aside w-2>
        <h3>Destaques</h3>
        <figure vertical>
            <a href="cards.html" title="{{title}}">
                <img src="//lorempixel.com/350/386" alt="{{title}}" title="{{title}}">
            </a>
            <figcaption>
                <h2 truncate>
                    <a href="cards.html" title="{{title}}">{{title}}</a>
                </h2>
                <h3>
                    <a href="cards.html" title="{{category}}">{{category}}</a>
                </h3>
                <p hide>{{excerpt}}</p>
                <p>
                    <small>{{publish_at}} | <a href="cards.html" title="{{author}}">{{author}}</a></small>
                </p>
            </figcaption>
        </figure>

    </aside>
</main>
</body>
</html>
