<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/dist/css/main.css">
    </head>
    <body>
        <main grid>
            <div w-1>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Totam esse temporibus dolorem, optio quaerat excepturi ab nisi quisquam quis est iste. Quam sunt distinctio magni et accusantium. Eum, facilis iste!</p>
            </div>
            <div w-1 o-2 h-sm-up>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Totam esse temporibus dolorem, optio quaerat excepturi ab nisi quisquam quis est iste. Quam sunt distinctio magni et accusantium. Eum, facilis iste!</p>
            </div>
            <div w-1>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Totam esse temporibus dolorem, optio quaerat excepturi ab nisi quisquam quis est iste. Quam sunt distinctio magni et accusantium. Eum, facilis iste!</p>
            </div>
        </main>
    </body>
</html>