$sidebar-height: calc(100vh - 80px);

aside {
  flex-direction: column;
  height: $sidebar-height;
  > nav {
    ul {
      flex-direction: column;
      flex-grow: 1;
      place-content: center;
      height: $sidebar-height;

      li {
        display: flex;
        text-align: center;
        margin-right: 0 !important;

        h3, [h3], h4, [h4], h5, [h5] {
        }

        button, a, [button] {
          flex-grow: 1;
          margin: 8px 18px;
        }
      }
    }
  }
}
